@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Titillium+Web:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400&family=Open+Sans&family=Titillium+Web:wght@400;600&display=swap'); 
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family:  'League Spartan', sans-serif;
}

html {
	scroll-behavior: smooth;
}

.navbar-logo {
	height: 30px;
}

h1, h2, h3, h4, h5 {
	font-weight: 600;
}

p {
	font-size: 1.2rem;
}


.bg-cstm-dark {
	background-color: #334257;
}

.bg-cstm-semi-dark {
	background-color: #476072;
}

.bg-cstm-dark-blue {
	background-color: #548CA8;
}

.bg-cstm-light {
	background-color: #EEEEEE;
}

.bg-gen {
	background: rgb(2,0,36);
	background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(37,43,72,1) 50%, rgba(51,61,87,1) 71%, rgba(31,89,154,1) 92%, rgba(0,212,255,1) 100%);
}  

.text-cstm-dark {
	color: #334257;
}

.text-cstm-semi-dark {
	color: #476072;
}

.text-cstm-dark-blue {
	color: #548CA8;
}

.text-cstm-light {
	color: #EEEEEE;
}

.nav-item a:hover {
	background-color: #476072;
	color: #51C4D3 !important;
	border-radius: 5px;
}


.textarea-box {
	resize: none;
}


.profile {
	width: 250px;
	height: 280px;
}

.btn:hover {
	background-color: #476072;
	color: #51C4D3 !important;
}

#about-me {
	min-height: 100vh;
}

.logo {
	width: 120px;
	height: 100px;
}

#footer p {
	margin-bottom: .5rem;
}

.social-media i {
	font-size: 2.5rem;
	margin-right: 1rem;
}

a i:hover {
	color: #51C4D3 !important;
}

.card {
	box-shadow: 1px 2px 5px #334257, 0px 5px 5px #334257;
}

.tools img {
	max-width: 150px;
	max-height: 100px;
	margin-right: 2rem;
	margin-bottom: 1rem;
}

@media (min-width: 770px) {
	.card-footer {
		height: 280px;
	}
}

@media (min-width: 1256px) {
	.card-footer {
		height: 210px !important;
	}
}